.main_container{ 
    width: 100%;
    height: 100vh;
   position: relative;
    .main_content{
        margin: 0 auto;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%); 
        padding:10px;
        width: 350px;
    
        border:1px solid #b8b8e6;
        border-radius: 5px;
        background-color: 	#E6E6FA;
        .r_monitor{
            width: 100%;
            height: 200px;
            margin-bottom:10px;
            background-color: 				#cfcff1;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            align-content: space-between;
            flex-wrap: wrap;
            .monitor_text{
                width: 100%;
                font-size: 2.3rem;
                text-align: right;
            }
            .monitor_result{
                width: 100%;
                font-size: 2.3rem;
                text-align: right;
                color:#666
            }
        }
        .button_big_box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
            .button_box_center{
            width: 100%;
            height: 60px;

            border:none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #a1a1d3;
            color:#fff;
            cursor: pointer;
            }
            .button_box_wrap{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;    
                gap:10px ;
                .button_box{
                    width: 100%;
                    display: flex;
                    gap:10px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                 
                .num_button{
                    width: calc((100% - 20px) / 3);
                    height: 60px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border:1px solid 	#b8b8e6;
                    border-radius: 5px;
                    color:#7359a7;
                    cursor: pointer;
                    &.s_button{
                        border:none	;
                        background-color:	#b8b8e6	;
                        color:#47475c;
                    }
                    &.s_b_big{
                        font-size: 1.3rem;
                       
                    }
                    &.s_b_f{
                        font-weight: 600;
                    }
                    &.s_b_f_2{
                        font-weight: 500;
                    }
                }
                }
            }
            .button_box_center2{
                width: 100%;
                height: 60px;
                border:1px solid 	#b8b8e6;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                border-radius: 5px;
                color:#7359a7;
                cursor: pointer;
            }
        }
    }
    
}